snippet <rt
        <record id="$1" model="ir.ui.view">
            <field name="name">$2</field>
            <field name="model">$3</field>
            <field name="arch" type="xml">
                <form string="$4">

endsnippet




